<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sistema de Inventario</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

  <div id="agrupar">
    <header id="cabecera">
      <H1>SISTEMA DE INVENTARIO</h1>
    </header>

    <section id="seccion">
      <form action="http://127.0.0.1:5000/login/" method="post">
        <label>User</label>
        <input type="text" name="usuario">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="entrar">
    </section>

  </div>

</body>
</html>
